.comment-form {
  input {
    font-family: 'Open Sans';
    font-size: 16px;
  }
}

.comment-form-comment {
  label {
    display: block;
  }
  textarea {
    width: 100%;
  }
}

#comments {
  background-color: #efefef;
  > div {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
  }
}
