.entry-content ul li {
  list-style-type: disc;
}

#masthead li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

label {
  display: inline-block;
  min-width: 80px;
}

#site-navigation {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.screen-reader-text {
  display: none;
}



#secondary {
  background-color: #232323;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0;
}

.search-form {
  font-size: 0;
  white-space: nowrap;
  position: relative;
  > input {
    vertical-align: top;
    height: 28px;
  }
  .search-field, .search-submit {
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 0;
  }

  .search-field {
    width: 100%;
    border-radius: 5px;
    padding-right: 33px;
  }
  .search-submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'FontAwesome';
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #868686;
    color: #fff;
    position: absolute;
    top: 0; right: 0;
  }
}

.shadow {
  border: solid 2px #c3c3c3;
  box-shadow: #020202 0 0 40px;
}

.entry-content {
  //font-family: 'Droid Serif';
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  //font-size: 18px;
  img {
    max-width: 100%;
    height: auto;
  }
  padding: 10px;
  p, li {
    line-height: 1.7;
  }
  > p:first-child > strong:first-child {
    font-size: 200%;
    line-height: 0;
  }
  blockquote {
    background-color: #efefef;
    padding: 5px 10px;
    > p {
      margin: 0;
    }
  }
  a {
    color: darkred;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  p, ul, ol, h1, h2, h3, h4, h5 {
    margin-bottom: 1em;
  }
  h2 {
    margin-top: 1em;
  }
  li {
    margin-left: 1em;
    line-height: 1.45;
  }
}

.post-navigation, .entry-footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

#title-and-meta {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  padding: 10px;
  margin: 0 auto;
}

.has-post-thumbnail #title-and-meta {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #000;
}

#logo {
  position: absolute;
  left: 15px;
  width: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.site-title {
  font-size: 18px;
  font-weight: normal;
  margin-left: 50px;
  color: #c4cdd2;
}

.entry-header {
  position: relative;
  max-height: 600px;
  //min-height: 200px;
  overflow: hidden;
  font-size: 0;
  padding: 40px 10px;
  background-color: #efefef;
  > img {
    width: 100%;
    height: auto;
  }
}

.has-post-thumbnail .entry-header {
  padding: 0;
  background-size: contain;
}


time.updated {
  display: none;
}

.entry-title {
  font-size: 36px;
}

.screen-reader-text, .site-description, .site-info {
  display: none;
}

.footnotes {
  font-size: 75%;
}

.widget {
  font-size: 16px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}
