body {
  font-family: 'Open Sans', sans-serif;
  &.single {
    overflow-x: hidden;
  }
}

#main {
  width: 100%;
  margin: 0 auto;
}

#masthead {
  background-color: #232323;
  color: #fff;
  position: relative;
  padding: 10px;
  z-index: 1;
}

ul li {
  list-style-type: none;
}

.search .page-header {
  display: none;
}
