
body, main, article, section, div, header, footer, ul, ol, h1, h2, h3, nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea, input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
