/*!
Theme Name: Patriot
Theme URI: http://underscores.me/
Author: Mackey James
Author URI: https://untamedpolitics.com
Description: A theme for political blogs and websites.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: patriot
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Patriot is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

@import 'reset';
@import 'layout';
@import 'content';
@import 'comments';

body {
  font-size: 16px;
}

li > code, p > code {
  background-color: #ececec;
  border-radius: 4px;
  padding: 0px 4px;
  font-family: 'Open Sans';
  color: #232323;
  font-size: 90%;
  font-weight: 700;
}

.entry-content .seriesbox ul li {
  list-style-type: none;
}

.seriesmeta {
  padding: 10px;
}

.seriesbox {
  border: none;
  padding: 10px;
  margin: 0;
  float: none;
  display: block;
}

p.blurb {
  padding: 10px;
  background-color: #2276b9;
  color: #fff;
  border-radius: 4px;

  > a {
    color: gold;
    font-weight: normal;
  }
}

.choose2 > ul {
  position: absolute;
  right: 0;
  > li.tab {
    list-style-type: none;
    display: inline;
    vertical-align: baseline;
    background-color: #e0e0e0;
    margin: 0;
    padding: 2px 4px;
    &.active > a {
      font-weight: bold;
    }
    > a {
      color: inherit;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
}

.c2 {
  display: none;
}

.active.c2 {
  display: block;
}

.tag-how-to .c2 > ol,
.tag-how-to .entry-content > ol {
  border-left: solid 5px darkred;
  > li {
    margin-left: 2em;
  }
}

.crayon-num {
  display: none;
}

#main {
  font-size: 0;
  > article {
    font-size: 16px;
  }
}

button.menu-toggle {
  display: none;
}

#main > article {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.page #main > article,
.single #main > article {
  width: 100%;
  display: block;
}

#main > header {
  font-size: 16px;
}

// In its natural state, the menu shows all items
.menu-menu-1-container {
  float: left;
  margin-right: 20px;
}

.post-summary {
  h2 {
    font-size: 24px;
  }

  #title-and-meta {
    padding: 15px;
  }

  > header {
    height: 250px;
  }
}


@media screen and (max-width: 840px) {
  .widget {
    width: 33.3%;
  }
  #main > article {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .widget {
    width: 50%;
  }
  #main > article {
    width: 100%;
  }
}

/* Portrait iPhone 6 */
@media
screen and (max-width: 420px),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    h1.entry-title {
      font-size: 30px;
    }
    .widget {
      width: 100%;
    }

    button.menu-toggle {
      border-style: none;
      background-color: #424242;
      border: solid 1px black;
      display: inline-block;
      height: 32px;
      width: 32px;
      padding: 0;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      color: #eaeaea;
      font-size: 14px;
    }
    .menu-menu-1-container {
      display: none;
    }
    .toggled .menu-menu-1-container {
      display: block;
      position: absolute;
      z-index: 10;
      color: #fff;
      right: 0;
      margin-right: 0;
      background-color: #232323;
      padding: 10px 0;
    }
    #masthead .toggled ul.menu li {
      margin-right: 20px;
      max-width: 100%;
      padding: 2px 10px;
      margin: 0;
      display: block;
      &:hover {
        background-color: #787878;
      }
    }
    #site-navigation > a {
      display: none;
    }
}
