/*!
Theme Name: Patriot
Theme URI: http://underscores.me/
Author: Mackey James
Author URI: https://untamedpolitics.com
Description: A theme for political blogs and websites.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: patriot
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Patriot is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
body, main, article, section, div, header, footer, ul, ol, h1, h2, h3, nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

textarea, input {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Open Sans', sans-serif; }
  body.single {
    overflow-x: hidden; }

#main {
  width: 100%;
  margin: 0 auto; }

#masthead {
  background-color: #232323;
  color: #fff;
  position: relative;
  padding: 10px;
  z-index: 1; }

ul li {
  list-style-type: none; }

.search .page-header {
  display: none; }

.entry-content ul li {
  list-style-type: disc; }

#masthead li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle; }

label {
  display: inline-block;
  min-width: 80px; }

#site-navigation {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%); }

.screen-reader-text {
  display: none; }

#secondary {
  background-color: #232323;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0; }

.search-form {
  font-size: 0;
  white-space: nowrap;
  position: relative; }
  .search-form > input {
    vertical-align: top;
    height: 28px; }
  .search-form .search-field, .search-form .search-submit {
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 0; }
  .search-form .search-field {
    width: 100%;
    border-radius: 5px;
    padding-right: 33px; }
  .search-form .search-submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'FontAwesome';
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #868686;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0; }

.shadow {
  border: solid 2px #c3c3c3;
  box-shadow: #020202 0 0 40px; }

.entry-content {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 10px; }
  .entry-content img {
    max-width: 100%;
    height: auto; }
  .entry-content p, .entry-content li {
    line-height: 1.7; }
  .entry-content > p:first-child > strong:first-child {
    font-size: 200%;
    line-height: 0; }
  .entry-content blockquote {
    background-color: #efefef;
    padding: 5px 10px; }
    .entry-content blockquote > p {
      margin: 0; }
  .entry-content a {
    color: darkred;
    font-weight: bold; }
    .entry-content a:hover {
      text-decoration: underline; }
  .entry-content p, .entry-content ul, .entry-content ol, .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5 {
    margin-bottom: 1em; }
  .entry-content h2 {
    margin-top: 1em; }
  .entry-content li {
    margin-left: 1em;
    line-height: 1.45; }

.post-navigation, .entry-footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px; }

#title-and-meta {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  padding: 10px;
  margin: 0 auto; }

.has-post-thumbnail #title-and-meta {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #000; }

#logo {
  position: absolute;
  left: 15px;
  width: 32px;
  top: 50%;
  transform: translateY(-50%); }

.site-title {
  font-size: 18px;
  font-weight: normal;
  margin-left: 50px;
  color: #c4cdd2; }

.entry-header {
  position: relative;
  max-height: 600px;
  overflow: hidden;
  font-size: 0;
  padding: 40px 10px;
  background-color: #efefef; }
  .entry-header > img {
    width: 100%;
    height: auto; }

.has-post-thumbnail .entry-header {
  padding: 0;
  background-size: contain; }

time.updated {
  display: none; }

.entry-title {
  font-size: 36px; }

.screen-reader-text, .site-description, .site-info {
  display: none; }

.footnotes {
  font-size: 75%; }

.widget {
  font-size: 16px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 15px; }

.comment-form input {
  font-family: 'Open Sans';
  font-size: 16px; }

.comment-form-comment label {
  display: block; }
.comment-form-comment textarea {
  width: 100%; }

#comments {
  background-color: #efefef; }
  #comments > div {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px; }

body {
  font-size: 16px; }

li > code, p > code {
  background-color: #ececec;
  border-radius: 4px;
  padding: 0px 4px;
  font-family: 'Open Sans';
  color: #232323;
  font-size: 90%;
  font-weight: 700; }

.entry-content .seriesbox ul li {
  list-style-type: none; }

.seriesmeta {
  padding: 10px; }

.seriesbox {
  border: none;
  padding: 10px;
  margin: 0;
  float: none;
  display: block; }

p.blurb {
  padding: 10px;
  background-color: #2276b9;
  color: #fff;
  border-radius: 4px; }
  p.blurb > a {
    color: gold;
    font-weight: normal; }

.choose2 > ul {
  position: absolute;
  right: 0; }
  .choose2 > ul > li.tab {
    list-style-type: none;
    display: inline;
    vertical-align: baseline;
    background-color: #e0e0e0;
    margin: 0;
    padding: 2px 4px; }
    .choose2 > ul > li.tab.active > a {
      font-weight: bold; }
    .choose2 > ul > li.tab > a {
      color: inherit;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px; }

.c2 {
  display: none; }

.active.c2 {
  display: block; }

.tag-how-to .c2 > ol,
.tag-how-to .entry-content > ol {
  border-left: solid 5px darkred; }
  .tag-how-to .c2 > ol > li,
  .tag-how-to .entry-content > ol > li {
    margin-left: 2em; }

.crayon-num {
  display: none; }

#main {
  font-size: 0; }
  #main > article {
    font-size: 16px; }

button.menu-toggle {
  display: none; }

#main > article {
  width: 25%;
  display: inline-block;
  vertical-align: top; }

.page #main > article,
.single #main > article {
  width: 100%;
  display: block; }

#main > header {
  font-size: 16px; }

.menu-menu-1-container {
  float: left;
  margin-right: 20px; }

.post-summary h2 {
  font-size: 24px; }
.post-summary #title-and-meta {
  padding: 15px; }
.post-summary > header {
  height: 250px; }

@media screen and (max-width: 840px) {
  .widget {
    width: 33.3%; }

  #main > article {
    width: 50%; } }
@media screen and (max-width: 640px) {
  .widget {
    width: 50%; }

  #main > article {
    width: 100%; } }
/* Portrait iPhone 6 */
@media screen and (max-width: 420px), only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  h1.entry-title {
    font-size: 30px; }

  .widget {
    width: 100%; }

  button.menu-toggle {
    border-style: none;
    background-color: #424242;
    border: solid 1px black;
    display: inline-block;
    height: 32px;
    width: 32px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    color: #eaeaea;
    font-size: 14px; }

  .menu-menu-1-container {
    display: none; }

  .toggled .menu-menu-1-container {
    display: block;
    position: absolute;
    z-index: 10;
    color: #fff;
    right: 0;
    margin-right: 0;
    background-color: #232323;
    padding: 10px 0; }

  #masthead .toggled ul.menu li {
    margin-right: 20px;
    max-width: 100%;
    padding: 2px 10px;
    margin: 0;
    display: block; }
    #masthead .toggled ul.menu li:hover {
      background-color: #787878; }

  #site-navigation > a {
    display: none; } }
